
@media (min-width: 576px) { 

    h1 {
        font-size: 3rem;
    }
    h2 {
        color: #0ABEAD;
    }
    .split {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    }
 }
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
        font-weight: 600;
    }

    /* HEADER */
    .burgerbar {
        display: none;
    }
    .nav-links {
        display: flex;
    }
    .main {
        padding: 165px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main img {
        width: 50%;
    }
    
}
@media (min-width: 992px) { 
    h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 1200px) { 
    h1 {
        font-size: 3.5rem;
    }
}
@media (min-width: 1400px) { 

 }
 @media (min-width: 1680px) {

 }