/* defaults  */
body {
    background-color: #161D26;
}
h1 {
    color: #0ABEAD;
    font-size: 1.8rem;
    margin: 0.8rem 0;
    font-weight: 600;
}
h2 {
    color: #0ABEAD;
    font-size: 1.5rem;
}
h3{
    color: #0ABEAD;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}
span {
    color: #F57F17;
}
img {
    width: 100%;
}
/* Header */
header {
    background-color: #1F2935;
    padding: 1rem 0;
}
header a  {
    color: #95A5C6;
}
header p {
    color: #0ABEAD;
}
.logo  {
    color: #0ABEAD;
    font-size: 3.5rem;
}
.active {
    color: #0ABEAD;
}
/* HEADER */
nav,.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    width: 20%;
}
.nav-links {
    display: none;
}
.burgerbar {
    background-color:#0ABEAD ;
    border: none;
}
.offcanvas-body ul {
    flex-direction: column;
    text-align: center;
}
.offcanvas-body li {
    margin-top: 1.5rem;
}
.offcanvas-body a {
    font-size: 1.5rem;
    color: #758ab4;
}
/*  main  */
.main {
    padding: 2rem;
}
.main div {
    margin:2rem 0;
}
/* ABOUT ME */
.aboutme {
    padding: 100px 0;
}
/* PROCJECT */
.project {
    padding: 5rem 0;
}
.project h2 {
    margin-bottom: 50px;
}
.project a {
    transition: all 0.25s ease;
}
.project a img {
    border-radius: 25px;
    
}
.project a:hover {
    transform: scale(0.95);
}
.project a:hover img {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}